.about-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
    height: 100%;
}
.about-container h1 {
    margin:0;
    margin-bottom: 20px;
}
.who-we-are-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.who-we-are-img {
    width: 100%;
    height: 100%;
}
.who-we-are-text .title {
    height: auto;
    margin: 0;
    font-size:30px;
}
.who-we-are-text {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top:80px;
}
.who-we-are-text p {
    height: 100%;
}
.mission-vision-container {
    margin-top:50px;
}
.mission-vision-title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    height: auto;
}
.mission-vision-content {
    margin-top:0;
}
.our-structure-container {
    margin-top: 50px;
}
.general-structure-img {
    width: 70%;
    height: 70%;
}
.general-structure-img-container {
    text-align: center;
    width: 100%;
}
.our-structure-text .title {
    height: auto;
    margin: 0;
    font-size:30px;
    text-align: center;
} 
.our-cooperation-container {
    margin-top:50px;
}
.our-cooperation-container .title {
    margin: 0;
    font-size: 30px;
    margin-bottom: 15px;
}
.our-cooperation-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cooperation-img {
    width:170px;
}
.download-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    font-family: 'Raleway';
    font-weight: 500;
    cursor: pointer;
    background: #213778;
    border: none;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    font-size:15px;
    z-index: 9999;
}
.download-btn i {
    margin-right: 5px;
}
.download-btn i svg {
    fill: #FFF;
}

.who-we-are-images {
    width: 100%;
    max-width: 800px;
    height: 560px;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    max-width: 800px;
    height: 560px;
    position: absolute;
    transition: all 0.5s;
    border-radius: 15px;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
.slider-btn:active {
    transform: scale(1.1);
}

.slider-btn-prev {
    top: 45%;
    left: 2%;
}

.slider-btn-next {
    top: 45%;
    right: 2%;
}


/* mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .about-container {
        padding-top: 0;
    }
    .who-we-are-container {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
    .who-we-are-text{
        margin-top: 15px;
    }
    .mission-vision-container {
        margin-top: 15px;
    }
    .our-structure-container{
        margin-top: 15px;
    }
    .our-structure-text .title{
        text-align: left;
    }
    .mission-vision-title{
        margin-bottom: 0;
    }
   
}

/* ipads / tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

/* small screens and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}


/*Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
    .about-container {
        max-width: 1140px;
    }
}