.product-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
    height: 100%;
}
.product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.product-list-item {
    display: grid;
    grid-template-rows: 250px 1fr;
    height: 400px;
    background: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}
.product-list-item img {
    width: 100%;
    height: 100%;
}
.product-list-item h2 {
    margin: 0;
}
.product-description {
    margin-top: 5px;
}
.product-description p {
    font-size: 14px;
    margin-top: 0;
}

.spare-parts-h1 {
    margin-bottom: 0;
    margin-top:10px;
}
.spare-parts-p {
    margin-top: 0;
    color: gray;
    font-size: 12px;
}
.spare-parts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spare-parts-img {
    width: 250px;
}

/* mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .product-container {
        padding-top: 0;
    }
    .product-list-container {
        grid-template-columns: 1fr;
    }
    .spare-parts-img {
        width: 170px;
    }
    .spare-parts-item:nth-child(odd) {
        margin-right: 5px;
    }
    .spare-parts-item:nth-child(even) {
        margin-left: 5px;
    }
}

/* ipads / tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

/* small screens and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
@media(min-width: 1200px) {
    .product-container {
        max-width: 1140px;
    }
}