





















.product-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
    height: 100%;
}

/* mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .product-container {
        padding-top: 0;
    }
}

/* ipads / tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

/* small screens and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}
@media(min-width: 1200px) {
    .product-container {
        max-width: 1140px;
    }
}